html{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
}

.container{
    border: 1px solid black;
    box-shadow: 0px 0px 10px;
    padding: 15px;
    margin: 20px;
    height: 480px;
    background-color: #5e7ab4;
}

.input_weight, .input_height{
    margin-bottom: 16px;
    width: 100%;
    /*background-color: #ddd;*/
}

.slider{
    width: 100%;
    height: 1px;
    outline: none;
}

.input_box{
    height: 30px;
    width: 90px;
    margin-top: 20px;
    font-size: 24px;
}

.button{
    /*margin-top: 20px;*/
    font-size: 18px;
    width: 100%;
    background-color: #1b2845;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;
}

.image{
    border: 1px solid black;
    box-shadow: 0px 10px 10px;
    padding: 10px;
    margin: 20px;
    align-items: center;
}

#IMC {
    background-color: aqua;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 24px;
}